main {
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-top: 10vh;
}
h3 {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 1rem #5f565e;
    border-radius: 5%;
    margin-bottom: 1rem;
}
.form-group {
    width: 100%;
    margin-top: 1rem;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgba(120, 120, 120, 0.3);
    margin-top: 0.2rem;
}
textarea {
    resize: vertical;
}
.button-container {
    display: flex;
    justify-content: center;
}
button {
    width: 30%;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease-in-out;
}
button:hover {
    background-color: rgba(120, 120, 120, 0.2);
}
#status {
    /* width: 30%; */
    max-width: 500px;
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    letter-spacing: 1px;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1060px) {
    button:hover {
        background-color: unset;
    }
    button {
        background-color: rgba(120, 120, 120, 0.2);
    }
}
#status.success {
    animation: status 2s ease forwards;
}
#status.error {
    animation: status 2s ease forwards;
}
@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
@media screen and (max-width:375px) {
    button {
        width: unset;
    }
    .container {
        padding: 1rem;
        border-radius: 15px;
    }
}