* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}