.grid {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 1rem;
    padding-top: 5vh;
}
.project {
    position: relative;
}
.project::after {
    content: '';
    display: block;
    padding-top: 100%;
}
.photo-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.650);
    color: #2c292c;
    font-size: 1vh 1vw;
    letter-spacing: 0.5em;
    padding: 0.5rem 0 0.5rem 0.6em;
    text-transform: uppercase;
    border-radius: 10px;
}
.text-container {
    transition: .5s ease;
    opacity: 0;
}
.photo-container:hover .text-container {
    opacity: 1;
}
.photo-container:hover .image {
    transition: .5s ease;
    opacity: 0.5;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1060px) {
    .text-container {
        transition: unset;
        opacity: 1;
    }
    .photo-container:hover .image {
        transition: unset;
        opacity: 1;
    }
}