* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
}
/* html, nav, body {
    width: 100%;
    overflow-x: hidden;
} */
/***********
    nav
************/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.title {
    color: #5f565e;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 24%;
}
.nav-links a {
    color: #5f565e;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 14px;
}
.nav-links li {
    list-style: none;
}
.expand div {
    width: 25px;
    height: 3px;
    background-color: #5f565e;
    margin: 5px;
    transition: all 0.5s ease;
}
.expand {
    display: none;
    cursor: pointer;
}
/**********************************
    large screen sizes/monitors
***********************************/
.grid {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 1rem;
}
.project {
    position: relative;
}
.project::after {
    content: '';
    display: block;
    padding-top: 100%;
}
.photo-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.650);
    color: #2c292c;
    font-size: 1vh 1vw;
    letter-spacing: 0.5em;
    padding: 0.5rem 0 0.5rem 0.6em;
    text-transform: uppercase;
    border-radius: 10px;
}
.text-container {
    transition: .5s ease;
    opacity: 0;
}
.photo-container:hover .text-container {
    opacity: 1;
}
.photo-container:hover .image {
    transition: .5s ease;
    opacity: 0.5;
}
/**************************
    touch screen devices
***************************/
@media screen and (max-width:1060px) {
    html, body {
        /* overflow-x: hidden; */
        width: 100%;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 45vh;
        top: 7vh;
        background-color: white;
        border-radius: 1vh;
        z-index: 1;

        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .expand {
        display: block;
    }
    .text-container {
        transition: unset;
        opacity: 1;
    }
    .photo-container:hover .image {
        transition: unset;
        opacity: 1;
    }
}
/********************* 
    for javascript 
**********************/
.nav-active {
    transform: translateX(0%);
    opacity: 1;
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}