* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
}
/*********************************************** nav ***********************************************/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.title {
    color: #5f565e;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 24%;
}
.nav-links a {
    color: #5f565e;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 14px;
}
.nav-links li {
    list-style: none;
}
.expand div {
    width: 25px;
    height: 3px;
    background-color: #5f565e;
    margin: 5px;
    transition: all 0.5s ease;
}
.expand {
    display: none;
    cursor: pointer;
}

/*********************************************** body ***********************************************/

html, body {
    overflow-x: hidden;
}

/**************************
    large screen size
***************************/
.photo-container {
    box-sizing: border-box;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:  0.7rem 1rem;
    margin: 0 2rem;
    justify-content: center;
}
.photo-container a {
    margin-bottom: -8%;
}
.photo-container img {
    max-width: 100%;
    max-height: auto;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.img-1 .text-container {
    transition: .5s ease;
    opacity: 0;
    display: grid;
    justify-content: center;
    transform: translateY(-1000%);
}
.img-1:hover .text-container {
    opacity: 1;
}
.photo-container .img-1:hover img {
    transition: .5s ease;
    opacity: 0.5;
}
.img-2 .text-container {
    transition: .5s ease;
    opacity: 0;
    display: grid;
    justify-content: center;
    transform: translateY(-1000%);
}
.img-2:hover .text-container {
    opacity: 1;
}
.photo-container .img-2:hover img {
    transition: .5s ease;
    opacity: 0.5;
}
.img-3 .text-container {
    transition: .5s ease;
    opacity: 0;
    display: grid;
    justify-content: center;
    transform: translateY(-1000%);
}
.img-3:hover .text-container {
    opacity: 1;
}
.photo-container .img-3:hover img {
    transition: .5s ease;
    opacity: 0.5;
}
.img-4 .text-container {
    transition: .5s ease;
    opacity: 0;
    display: grid;
    justify-content: center;
    transform: translateY(-1000%);
}
.img-4:hover .text-container {
    opacity: 1;
}
.photo-container .img-4:hover img {
    transition: .5s ease;
    opacity: 0.5;
}
.img-5 .text-container {
    transition: .5s ease;
    opacity: 0;
    display: grid;
    justify-content: center;
    transform: translateY(-1000%);
}
.img-5:hover .text-container {
    opacity: 1;
}
.photo-container .img-5:hover img {
    transition: .5s ease;
    opacity: 0.5;
}
.img-6 .text-container {
    transition: .5s ease;
    opacity: 0;
    display: grid;
    justify-content: center;
    transform: translateY(-1000%);
}
.img-6:hover .text-container {
    opacity: 1;
}
.photo-container .img-6:hover img {
    transition: .5s ease;
    opacity: 0.5;
}
.text {
    background-color: rgba(255, 255, 255, 0.650);
    color: #2c292c;
    font-size: 24px;
    letter-spacing: 0.7em;
    padding: 0.5rem 0 0.5rem 0.7em;
    border-radius: 10px;
  }

/**************************
    tablet screen size
***************************/
@media screen and (max-width:1024px) {
    .nav-links {
        width: 40%; 
    }
    .photo-container {
        box-sizing: border-box;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:  0.7rem 1rem;
        margin: 0 2rem;
        justify-content: center;
    }
    .photo-container a {
        margin-bottom: -8%;
    }
    .photo-container img {
        max-width: 100%;
        max-height: auto;
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}
/**************************
    phone screen size
***************************/
@media screen and (max-width:600px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 45vh;
        top: 7vh;
        background-color: white;
        border-radius: 1vh;

        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: center;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .expand {
        display: block;
    }
    .photo-container {
        box-sizing: border-box;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap:  0.7rem 1rem;
        margin: 0 2rem;
        justify-content: center;
    }
    .photo-container a {
        margin-bottom: -10%;
    }
    .photo-container img {
        max-width: 100%;
        max-height: auto;
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
}

/*********************************************** for javascript ***********************************************/
.nav-active {
    transform: translateX(0%);
    opacity: 1;
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}